/*set default style*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  max-width: 1440px;
  margin: 0px auto;
}

.title {
  left: 0;
  position: relative;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 48px;
  line-height: 75px;
}

.title::after {
  content: "";
  position: absolute;
  background-color: #fcbb08;
  padding: 2px 30px;
  bottom: -14px;
}

.description {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

.menu__link {
  color: #373a39;
}

.menu__link:visited {
  color: #373a39;
}

.menu__list {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 28px;
}

.menu__item {
  left: 0;
  position: relative;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  margin: 0 25px;
}

.menu__item::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 45%;
  padding: 1px 0;
  width: 1%;
  background-color: #fcbb08;
  visibility: hidden;
}

.menu__item:hover::after {
  position: absolute;
  visibility: visible;
  bottom: -9px;
  left: -15%;
  width: 130%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header {
  background: url("../img/Header-bg.png") no-repeat center;
  height: 752px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  height: 94px;
}

.header__logo {
  margin: 26px 52px;
  width: 42px;
  height: 42px;
}

.header__title {
  margin-top: 213px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 100px;
  line-height: 122px;
  text-align: center;
  color: #fff;
}

.header__desc {
  text-align: center;
  margin-top: 18.5px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fcbb08;
}

.header__decor {
  text-align: center;
  margin-top: 179.5px;
}

.about {
  background-color: #f6f8fa;
}

.about__content {
  padding: 143px 135px 159px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about__text {
  padding-top: 9px;
  width: 770px;
}

.expertise__content {
  padding: 143px 135px 164px;
}

.expertise__statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 89px;
  margin-bottom: 110px;
  height: 137px;
}

.expertise__graphic {
  width: 370px;
}

.expertise__graphic-item {
  font-family: "Open Sans";
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #1d1d1d;
}

.expertise__text {
  width: 770px;
}

.expertise__desc {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.expertise__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.expertise__item-title {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 4.2875px;
  color: #333333;
  margin-bottom: 18px;
}

.expertise__icon {
  margin-right: 38px;
}

.expertise__icon-img {
  width: 50px;
  height: 50px;
}

.expertise__item-desc {
  width: 285px;
}
